.top-header{
    .left-topheader{
        ul{
            padding:  0 0;
            
            li{
                padding: 10px 10px 0 10px
            }
        }
    }

    .right-topheader{
        display: flex;
        justify-content: flex-end;


        .social-links{
            ul{
                padding:  0 0;

                li{
                    padding: 10px 20px 0 10px;

                    a{
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }

        .language{
            select{
                width: 100px;
                
                &:focus{
                    border: 0;
                    outline: 0;
                }
            }
        }
    }
}

@include mediaSm{
    .top-header{
        .left-topheader{
            display: none;
        }
        .right-topheader{
            .social-links{
                display: none;
            }
        }
    }
}

@include mediaXs{
    .top-header{
        .left-topheader{
            display: none;
        }
        .right-topheader{
            .social-links{
                display: none;
            }
        }
    }
}